<%= form_with(model: sale_item) do |form| %>
  <% if sale_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sale_item.errors.count, "error") %> prohibited this sale_item from being saved:</h2>

      <ul>
        <% sale_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
      <div class="col-md-12">
        <div class="form-group row mb-3">
          <%= form.label :sale_id, class: "col-md-4 col-form-label text-right" %>
          <div class="col-md-2">
            <%= form.text_field :sale_id, class: "form-control", disabled: true, value: Sale.find( params[:sale_id]).id if Sale.find( params[:sale_id]).present? %>
            <%= form.hidden_field :sale_id, value: params[:sale_id] %>
            </div>
          <%= form.label :product_id, class: "col-md-2 col-form-label text-right" %>
          <div class="col-md-4">
            <%= form.collection_select :product_id, Product.all, :id, :name, {}, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row mb-3">
          <%= form.label :quantity, class: "col-md-4 col-form-label text-right" %>
          <div class="col-md-2">
            <%= form.number_field :quantity, class: "form-control", id: "quantity" %>
          </div>

          <%= form.label :per_item_price, class: "col-md-2 col-form-label text-right" %>
          <div class="col-md-4">
            <%= form.number_field :per_item_price, class: "form-control", id: "per-item-price" %>
          </div>
        </div>

        <div class="form-group row mb-3">
          <%= form.label :discount, class: "col-md-4 col-form-label text-right" %>
          <div class="col-md-2">
            <%= form.number_field :discount, class: "form-control", id: "discount" %>
          </div>
          <%= form.label :total_amount, class: "col-md-2 col-form-label text-right" %>
          <div class="col-md-4">
            <%= form.number_field :total_amount, class: "form-control", id: "total-amount", readonly: true %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-8 offset-md-4">
            <%= form.submit class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>

<script>
    $('#quantity, #per-item-price, #discount').on('input', function() {
      updateTotalAmount();
    });

    function updateTotalAmount() {
      var quantity = parseFloat($('#quantity').val()) || 0;
      var perItemPrice = parseFloat($('#per-item-price').val()) || 0;
      var discount = parseFloat($('#discount').val()) || 0;

      var totalAmount = quantity * perItemPrice * (1 - discount / 100);

      $('#total-amount').val(totalAmount.toFixed(2));
    }
</script>
