<div id="<%= dom_id credit %>">
  <p>
    <strong>Sale:</strong>
    <%= credit.sale_id %>
  </p>

  <p>
    <strong>Customer name:</strong>
    <%= credit.customer_name %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= credit.total_amount %>
  </p>

  <p>
    <strong>Total received:</strong>
    <%= credit.total_received %>
  </p>

  <p>
    <strong>Credit amount:</strong>
    <%= credit.credit_amount %>
  </p>

</div>
