<div class="container-fluid">
  <div class="row">
    <div class="col mt-4">
      <div class="table-responsive">
        <table class="table product-table">
          <thead class="bg-primary text-white">
            <tr>
              <th>Sale Id</th>
              <th>Customer Name</th>
              <th>Total Amount</th>
              <th>Total Recieved</th>
              <th>Credit Recieved</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% @credits.each do |credit| %>
              <tr>
                <td><%= credit.id %></td>
                <td><%= credit.customer_name %></td>
                <td><%= credit.total_amount %></td>
                <td><%= credit.total_received %></td>
                <td><%= credit.credit_amount %></td>
                <td><%= credit.created_at.strftime("%m/%d/%Y") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


