<div class="text-center mt-4">
  <h2>Profits</h2>
</div>
<%= form_with(url: profit_path(1), method: :get) do |form| %>
  <div class="container mt-4">
    <div class="row justify-content-around">
      <div class="col-md-4 mb-3">
        <%= form.label :start_date, "Start Date:", class: "form-label" %>
        <%= form.date_field :start_date, class: "form-control", required: true %>
      </div>

      <div class="col-md-4 mb-3">
        <%= form.label :end_date, "End Date:", class: "form-label" %>
        <%= form.date_field :end_date, class: "form-control", required: true %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4 mt-5 text-center">
        <%= form.submit "Calculate", class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
<% end %>
