<div id="<%= dom_id sale %>">
  <p>
    <strong>Customer name:</strong>
    <%= sale.customer_name %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= sale.contact %>
  </p>

  <p>
    <strong>Customer address:</strong>
    <%= sale.customer_address %>
  </p>

  <p>
    <strong>Supplier name:</strong>
    <%= sale.supplier_name %>
  </p>

  <p>
    <strong>Order booker name:</strong>
    <%= sale.order_booker_name %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= sale.payment_method %>
  </p>

</div>
